/* FEUILLE DE STYLES POUR LES MENUS SOUS FORME D'ONGLETS */

.menus 
{
    font:15px Arial, Helvetica, sans-serif;
    /* list-style-type est à préciser impérativement sinon l'onglet actif est 
    marqué d'un point avec certains navigateurs (ex : FireFox) */
    list-style-type:none;
    /* Il est impératif de mettre une marge gauche négative sinon décalage */ 
    text-align:center;
}

/* Style général de chaque onglet */
.menus li  
{
    /* Fond vert pâle (c'est la couleur de fond de l'onglet ouvert) 
    Ce fond sera recouvert par un Fond vert pour les onglets fermés */
    background-color:#BABABA;
    /* Couleur rouge */
    color:#5F5F5F;
    float:left;
    margin:0px 0px 0px 0px;
    /* Bordure blanche */
    border:solid 1px #939393;
    /* Logiquement, le pourcentage devrait être égal à 100/nombre d'onglets 
    mais les bordures prennent de la place ; il faut donc réduire à 18% 
    certains navigateurs n'acceptent pas les nombres réels donc on met
    un nombre entier) mais pour l'onglet actif, on passe à 20% (voir styles 
    ongletOuvertPrem et ongletOuvert) */
    width:13%;
    height:5%;
}

/* Style de l'onglet ouvert cas 1er onglet */
.menus .ongletOuvertPrem 
{ 
    /* Effacement du trait inférieur (pour cela, on le met de la même couleur que
    le fond de la page) */
    border-bottom:solid 2px #BABABA;
    width:20%;
}

/* Style de l'onglet ouvert cas autres onglets que le 1er */
.menus .ongletOuvert 
{ 
    /* Effacement du trait inférieur et du trait de gauche (pour cela, on les met 
    de la même couleur que le fond de la page) */
    border-bottom:solid 2px #BABABA;
    border-left:solid 2px #BABABA;
    width:20%;
}

/* Style de l'onglet non ouvert cas 1er onglet */
.menus .ongletPrem 
{ 
    /* Fond vert */
    background-color:#AAA;
    /* Couleur rouge */
    color:#FFF;
    margin:0px 0px 0px 0px;
}

/* Style du lien d'un onglet non ouvert cas 1er onglet */
.menus .ongletPrem a 
{ 
    /* Fond vert */
    background-color:#AAA;
    /* Couleur rouge */
    color:#FFF;
    /* Pas de soulignement du lien */
    text-decoration:none;
}

/* Style de l'onglet non ouvert cas autres onglets que le 1er */
.menus .onglet 
{ 
    /* Fond vert */
    background-color:#AAA;
    /* Couleur rouge */
    color:#FFF;
    margin:0px 0px 0px 0px;
    /* Effacement du trait de gauche (pour cela, on le met de la même couleur que 
    le fond de l'onglet) */
    border-left:solid 2px #AAA;
}

/* Style du lien d'un onglet non ouvert cas autres onglets que le 1er */
.menus .onglet a 
{ 
    /* Fond vert */
    background-color:#AAA;
    /* Couleur rouge */
    color:#FFF;
    /* Pas de soulignement du lien */
    text-decoration:none; 
}


